@import url(theme.css);

.section .example {
    background-color: #eee;
}
.section .pxlist {
    font-size: 20px;
}

.section .emexample {
    font-size: 1em;
}

.section .emlist {
    font-size: 1.5em;
}

.section .emtext {
    /*40px*/
    font-size: 2.5em;
    /*width: 1em;*/
}

.section .vwtext {
    font-size: 2vw;
}

.section .vwlist {
    font-size: 5vh;
}